{% extends "layout.html" %} {% block content %}
<div class="container">
  <div style="color: #fff;">
    {% for doc in hits %}
    <div style="display: flex; align-items: center; margin-bottom: 10px;">
      <img src="{{ doc['image_url'] }}" width="250px" style="margin-right: 20px;">
      <div>
        <h1><a href="/{{doc['title']}}">{{ doc['title'] }}</a></h1>
        <p>{{ doc['lyrics'] }}</p>
      </div>
    </div>
    <hr>
    {% endfor %}
  </div>
  


<nav aria-label="Page navigation" style="margin-top: 15px;">
  <ul class="pagination justify-content-center">
      {% if page_no!=1 %}
      <li class="page-item"><a class="page-link" href="?keyword={{ keyword }}&page=1">First</a></li>
      <li class="page-item">
          <a class="page-link" href="?keyword={{ keyword }}&page={{ page_no-1 }}" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
          </a>
      </li>
      <li class="page-item"><a class="page-link" href="?keyword={{ keyword }}&page={{ page_no-1 }}">{{ page_no-1 }}</a></li> 
      {% endif %}
      {% if page_total!=1 %}
      <li class="page-item active"><a class="page-link " href="#">{{ page_no }}</a></li>
      {% endif %}
      {% if page_no<page_total %}
      <li class="page-item"><a class="page-link" href="?keyword={{ keyword }}&page={{ page_no+1 }}">{{ page_no+1 }}</a></li>
      <li class="page-item">
          <a class="page-link" href="?keyword={{ keyword }}&page={{ page_no+1 }}" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
          </a>
      </li>
      <li class="page-item"><a class="page-link" href="?keyword={{ keyword }}&page={{ page_total }}">Last</a></li>
      {% endif %}
  </ul>
</nav>
</div>
{% endblock %}
