{% extends "layout.html" %} {% block content %}

<div class="song-container" style="color: #fff; padding: 2rem">
  <div class="row">
    <div class="col-lg-6">
      <img
        src="{{ hits['image_url'] }}"
        alt="{{ hits['title'] }}"
        class="img-fluid"
      />
    </div>
    <div class="col-lg-6">
      <h2 class="song-title">{{ hits['title'] }}</h2>
      <div class="lyrics" style="white-space: pre-wrap">
        {{ hits['lyrics'] }}
      </div>
    </div>
  </div>
</div>
{% endblock %}
